
.vs/IQB.Rabbit.ConsoleApp/v16/.suo
.vs/IQB.Rabbit.ConsoleApp/v16/Server/sqlite3/db.lock
.vs/IQB.Rabbit.ConsoleApp/v16/Server/sqlite3/storage.ide
.vs/IQB.Rabbit.ConsoleApp/v16/Server/sqlite3/storage.ide-shm
.vs/IQB.Rabbit.ConsoleApp/v16/Server/sqlite3/storage.ide-wal
.vs/IQBMicroservices/v16/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
